.button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}
