:root {
  --main-color: #ffe81f;
  --disabled-color: #a5a28b;
}

body {
  background-image: url("/src/assets/star-wars-bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Exo 2", sans-serif;
  color: var(--main-color);
}
